
body {
    text-align: center;
    font-family: 'calisto MT', cursive;
    background-color: #fce4ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 36px;
    color: #d26467;
    text-shadow: 4px 2px 4px rgba(255, 64, 128, 0.409);
}

.game-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.score-board {
    font-size: 24px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
}

.hole {
    width: 100px;
    height: 100px;
    background: #a16b57;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mole {
    width: 80px;
    height: 80px;
    background: url('mole.png') no-repeat center center / cover;
    position: absolute;
    bottom: -100px;
    transition: all 0.4s ease;
}

.show {
    bottom: 0;
}

button {
    background: #ff4081;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(255, 64, 129, 0.5);
    transition: 0.3s;
}

button:hover {
    background: #f50057;
    transform: scale(1.1);
}
